<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

    <appender name="mail" class="org.apache.log4j.net.SMTPAppender">
        <param name="SMTPHost" value="smtp.myservername.xx" />
        <param name="From" value="email@fromemail.xx" />
        <param name="To" value="toemail@toemail.xx" />
        <param name="Subject" value="[LOG] ..." />
        <param name="BufferSize" value="1" />
        <param name="threshold" value="error" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} [%-5p] %-10c{1}:%4L-%m%n" />
        </layout>
    </appender>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p|%d{HH:mm:ss}{%-4t}%4L-%m%n"/>
        </layout>
    </appender>
    
    <appender name="com.thlink.webBot" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${user.dir}/Log/WebBot.log" />
        <param name="DatePattern" value="'.'dd-MM-yyyy-a" />
        <param name="Append" value="true" /> 
        <param name="threshold" value="ALL" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p|%d{HH:mm:ss}{%-4t}%4L-%m%n"/>
        </layout>
    </appender>        
    <appender name="org.jboss.logging" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${user.dir}/Log/WebBot.log" />
        <param name="DatePattern" value="'.'dd-MM-yyyy-a" />
        <param name="Append" value="true" /> 
        <param name="threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p|%d{HH:mm:ss}{%-4t}%4L-%m%n"/>
        </layout>
    </appender>   
    <appender name="org.hibernate" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${user.dir}/Log/WebBot.log" />
        <param name="DatePattern" value="'.'dd-MM-yyyy-a" />
        <param name="Append" value="true" /> 
        <param name="threshold" value="ERROR" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p|%d{HH:mm:ss}{%-4t}%4L-%m%n"/>
        </layout>
    </appender> 
            
    <category name="com.thlink.webBot" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="com.thlink.webBot"/>
        <appender-ref ref="stdout" /> 
    </category>
    <category name="org.jboss.logging" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="org.jboss.logging"/>
        <appender-ref ref="stdout" /> 
    </category>
    <category name="org.hibernate" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="org.hibernate"/>
        <appender-ref ref="stdout" /> 
    </category>
    <root>
    </root> 

</log4j:configuration>
